<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        

        <div class="card card-plain">
          <div class="card-header card-header-danger">
            <h4 class="card-title mt-0">Process List</h4>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-hover">
                <thead class="">
                  <th (click)="sort('pid')">PID</th>
                  <th (click)="sort('parentPid')">Parent</th>
                  <th (click)="sort('name')">name</th>
                  <th (click)="sort('pmem')">pmem</th>
                  <th (click)="sort('priority')">priority</th>
                  <th (click)="sort('mem_vsz')">mem_vsz</th>
                  <th (click)="sort('mem_rss')">mem_rss</th>
                  <th (click)="sort('nice')">nice</th>
                  <th (click)="sort('state')">state</th>
                  <th (click)="sort('tty')">tty</th>
                  <th (click)="sort('user')">user</th>
                  <th (click)="sort('command')">command</th>
                  <th (click)="sort('params')">params</th>
                  <th (click)="sort('path')">path</th>
                </thead>
                <tbody>
                  <tr *ngFor="let proc of (processList$ | async)?.processes?.list">
                    <td>{{ proc.pid }}</td>
                    <td>{{ proc.parentPid }}</td>
                    <td>{{ proc.name }}</td>
                    <td>{{ proc.pmem }}</td>
                    <td>{{ proc.priority }}</td>
                    <td [innerHtml]="proc.mem_vsz | byteconvert:2"></td>
                    <td [innerHtml]="proc.mem_rss | byteconvert:2"></td>
                    <td>{{ proc.nice }}</td>
                    <td>{{ proc.state }}</td>
                    <td>{{ proc.tty }}</td>
                    <td>{{ proc.user }}</td>
                    <td>{{ proc.command }}</td>
                    <td>{{ proc.params }}</td>
                    <td>{{ proc.path }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>


      </div>
    </div>
  </div>
</div>
