<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <h4>{{ (sysInfo.static$ | async)?.system?.manufacturer }} {{ (sysInfo.static$ | async)?.system?.model }}</h4>
        <h5 *ngIf="(sysInfo.static$ | async)?.os?.distro">{{ (sysInfo.static$ | async)?.os?.distro }} v.{{ (sysInfo.static$ | async)?.os?.release }} - {{ (sysInfo.static$ | async)?.os?.kernel }}</h5>
      </div>
    </div>
    <div class="row">

      <!-- Column 1 -->
      <div class="col-sm-6">

        <!-- Used Space -->
        <div class="card card-stats">
          <div class="card-header card-header-warning card-header-icon">
            <div class="card-icon">
              <i class="fas fa-save"></i>
            </div>
            <p class="card-category">Used Space</p>
            <h3 class="card-title">
              <span [innerHtml]="(sysInfo.disk$ | async)?.totalUsed | byteconvert:2"></span> /
              <span [innerHtml]="(sysInfo.disk$ | async)?.totalDisk | byteconvert:2"></span>
            </h3>
          </div>
          <div class="d-flex justify-content-center" *ngIf="(sysInfo.disk$ | async) === null">
            <div class="spinner-grow" role="status">
              <span class="sr-only">Loading...</span>
            </div>
          </div>
          <div class="card-body container-fluid p-3 disks" *ngIf="(sysInfo.disk$ | async) !== null">
            <div class="row" *ngFor="let fsDrive of (sysInfo.disk$ | async)?.fsSize">
              <div class="colcard-text text-left pl-4">
                {{ fsDrive.mount || fsDrive.fs }}<i *ngIf="fsDrive.use > 74.99" class="material-icons text-danger pr-1 md-18s">warning</i>
              </div>
              <div class="col card-text pr-4">
                <span [innerHtml]="fsDrive.used | byteconvert:2"></span> / <span [innerHtml]="fsDrive.size | byteconvert:2"></span>
              </div>
            </div>
          </div>
        </div>
        <!-- End Used Space -->


        <!-- Network Interfaces -->
        <div class="card card-stats">
          <div class="card-header card-header-success card-header-icon">
            <div class="card-icon">
              <i class="fas fa-network-wired"></i>
            </div>
            <p class="card-category">Networks</p>
            <h3 class="card-title">
              {{ (sysInfo.system$ | async)?.os?.hostname }}
            </h3>
          </div>

          <div class="d-flex justify-content-center" *ngIf="(sysInfo.network$ | async) === null">
            <div class="spinner-grow" role="status">
              <span class="sr-only">Loading...</span>
            </div>
          </div>
          <div class="card-body container-fluid p-0" *ngIf="(sysInfo.disk$ | async) !== null">
            <div class="netIf" *ngFor="let netIf of (sysInfo.network$ | async)?.networkInterfaces">
              <div class="row">
                <div class="col text-left pl-4 text-nowrap">
                  <h4>{{ netIf.iface }}</h4>
                </div>
                <div class="col card-text text-nowrap pr-4">{{ netIf.mac }}</div>
              </div>
              <div class="row" *ngIf="netIf.ip4">
                <div class="offset-1 col card-text text-left pl-4">IPv4</div>
                <div class="col card-text pr-4 text-nowrap">{{ netIf.ip4 }}</div>
              </div>
              <div class="row" *ngIf="netIf.ip6">
                <div class="offset-1 col card-text text-left pl-4">IPv6</div>
                <div class="col card-text pr-4 text-nowrap">{{ netIf.ip6 }}</div>
              </div>
            </div>
          </div>
        </div>
        <!-- End Network Interfaces -->


      </div> <!-- End Column 1 -->


      <!-- Column 2 -->
      <div class="col-sm-6">

        <!-- Temperature -->
        <div class="card card-stats">
          <div class="card-header card-header-primary card-header-icon">
            <div class="card-icon">
              <i class="fas" [ngClass]="(sysInfo.cpu$ | async)?.cpuTemperature?.main > 61 ? 'fa-temperature-high' : 'fa-temperature-low'"></i>
            </div>
            <p class="card-category">Temperature</p>
            <h3 class="card-title">
              <small>Temp: </small>
              <span>
                {{ (sysInfo.cpu$ | async)?.cpuTemperature?.main | number:'0.0-2' }}
              </span>
            </h3>
          </div>
          <div class="card-body container-fluid p-3 cpu">

          </div>
        </div>
        <!-- End Temperature -->


        <!-- Memory -->
        <div class="card card-stats">
          <div class="card-header card-header-primary card-header-icon">
            <div class="card-icon">
              <i class="fas fa-memory"></i>
            </div>
            <p class="card-category">Memory</p>
            <h3 class="card-title"
              [innerHtml]="(sysInfo.memory$ | async)?.mem?.total | byteconvert:2">
            </h3>
          </div>

          <div class="d-flex justify-content-center" *ngIf="(sysInfo.memory$ | async) === null">
            <div class="spinner-grow" role="status">
              <span class="sr-only">Loading...</span>
            </div>
          </div>          
          <div class="card-body container-fluid p-3 memory" *ngIf="(sysInfo.memory$ | async) !== null">
            <div class="row" *ngFor="let mem of (sysInfo.memory$ | async)?.mem | keyvalue">
              <div class="col-6 card-text text-left pl-4">{{ mem.key }}</div>
              <div class="col-6 card-text pr-4" [innerHtml]="mem.value | byteconvert:2"></div>
            </div>
          </div>
        </div>
        <!-- End Memory -->        
        
      </div> <!-- End Column 1 -->
    </div> <!-- End Row -->

  </div>
</div>
